@import "./variables";

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

html {
    background-color: $sandColor;
}

.App {
    background-color: $softGreyColor;
    border: 1px solid $borderColor;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    padding: 1vw 1vw 1vw 1vw;
    overflow-y: auto;
}
