@import "./variables.scss";

@mixin customBorders() {
    border-radius: 5px;
    padding: 2vw 3vw 2vw 3vw;
    margin: 0 0 0.5vh 0;
  }
  
  @mixin removeDefaultLink() {
    color: inherit;
    text-decoration: none;
  }
  
  @mixin removeDefaultButton() {
    font-family: $font;
    background-color: $paperColor;
    border: none;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
  }
  
  @mixin buttonStyle(){
      @include removeDefaultButton();
      font-family: $font;
      font-size: $mediumFont;
      text-align: center;
      background-color: inherit;
      padding: 1vh 2vh 1vh 2vh;
      border: 1px solid;
      border-radius: 15vw;
      margin: 0 0 0 3vw;
  }

  @mixin for-tablet {
    @media (min-width: 600px) { @content; }
  }
  
  @mixin for-desktop {
    @media (min-width: 1200px) { @content; }
  }