$font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$bigFont: 26px;

$mediumFont: 20px;

$smallFont: 16px;

$sandColor: #FFEECC;

$borderColor: #DDDDDD;

$paperColor: #F8F7ED;

$softGreyColor: #F2F2F2;
